<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админ.панель</title>
</head>
<body>
<table border="1">
    <caption>Пользователи</caption>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Имя</th>
        <th>Телефон</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<table border="1">
    <caption>Заказы</caption>
    <tr>
        <th>ID</th>
        <th>ID Пользователя</th>
        <th>Адрес</th>
        <th>Комментарий</th>
        <th>Сдача/Оплата картой</th>
        <th>Перезвон</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user_id }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.comment }}</td>
        <td>{{ order.payment ? '+' : '-' }}</td>
        <td>{{ order.callback ? '+' : '-' }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>